/* Estilo para todo  * , Tener cuidado  */
* {
    -fx-font-family: "Franklin Gothic Book";
}

#fondoPrincipal {
    -fx-background-image: url("Images/Discerial.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

#botonPersonalizado {
    -fx-background-color: #4c5b3d;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;

    -fx-padding: 12px 25px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-color: transparent;
}

#botonPersonalizado:hover {
    -fx-background-color: #2E8540;
}

#botonPersonalizado:pressed {
    -fx-background-color: #3AA655;
}
#imagenPerfil {
    -fx-background-image: url("Images/Logo.png");
    -fx-background-size: cover;
    -fx-shape: "M 10,0 Q 0,0 0,10 L 0,90 Q 0,100 10,100 L 90,100 Q 100,100 100,90 L 100,10 Q 100,0 90,0 Z";
}
#imagenAdyto {
        -fx-background-image: url("Images/adytologo.png");
        -fx-background-size: 60%;
        -fx-background-position: center;
        -fx-background-repeat: no-repeat;
}
#ngbernet {
    -fx-font-size: 22px;
    -fx-text-fill: #505050;
}
#adytotext {
    -fx-font-size: 30px;
}

#fondoInicioSesion {
    -fx-background-image: url("Images/FondoPaginas.png");
     -fx-background-size: cover;
      -fx-background-position: center;

}

#fotoInicioSesion {
    -fx-background-image: url("Images/InicioSesionFoto.jpg");
     -fx-background-size: cover;
        -fx-background-position: center;

}
#TituloStyle {
    -fx-font-size: 50px;
    -fx-text-fill: #505050;
    -fx-alignment: center;
    }
#SubtituloStyle {
    -fx-font-size: 20px;
    -fx-text-fill: #505050;

}

#SubtituloStyleRegistro {
    -fx-font-size: 22px;
    -fx-text-fill: #505050;
    -fx-alignment: center;
}

#SubtituloStyleRegistro:hover {
    -fx-font-size: 23px;
    -fx-text-fill: #222;
    -fx-alignment: center;

}


#textFieldSesion{
    -fx-background-color: white;
    -fx-background-radius: 20px;
    -fx-border-color: #ccc;
    -fx-border-radius: 20px;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-font-size: 20px;

}
#fotoRegistro {
    -fx-background-image: url("Images/CrearCuentaFoto.jpg");
    -fx-background-size: cover;
     -fx-background-position: center;
}


#menuverde {
    -fx-background-color: #4c5b3d;
}

#discerialName {
    -fx-background-image: url("Images/DiscerialName.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-repeat: no-repeat;
}

#MenuSelectorLabel {
    -fx-font-size: 35px;
    -fx-text-fill: white;
}
#MenuSelectorLabel:hover {
    -fx-text-fill: #A0A0A0;
}

#TabulaIcon {
    -fx-background-image: url("Images/MenuIcons/TabulaIcon.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-repeat: no-repeat;
}

#NuntiatioIcon {
    -fx-background-image: url("Images/MenuIcons/NuntiatoIcon.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-repeat: no-repeat;
}

#AdaptationesIcon {
    -fx-background-image: url("Images/MenuIcons/AdaptationesIcon.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-repeat: no-repeat;
}

#HomoIcon {
    -fx-background-image: url("Images/MenuIcons/HomoIcon.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-repeat: no-repeat;
}

#AuxiliumIcon {
    -fx-background-image: url("Images/MenuIcons/AuxiliumIcon.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-repeat: no-repeat;
}

#ExireIcon {
    -fx-background-image: url("Images/MenuIcons/ExireIcon.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-repeat: no-repeat;
}

#ErrorIcon {
    -fx-background-image: url("Images/MenuIcons/ExireIcon.png"");
    -fx-background-size: cover;
    -fx-repeat: no-repeat;
}

#PlumaIcon {
    -fx-background-image: url("Images/MenuIcons/PlumaIcon.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-repeat: no-repeat;
}